@font-face {
    font-family: 'IBM Plex Mono';
    src: url(fonts/IBMPlexMono-Bold.ttf);
    font-weight: 700px;
}
@font-face {
    font-family: 'IBM Plex Mono';
    src: url(fonts/IBMPlexMono-Regular.ttf);
    font-weight: 400;
} 

body {
    background: #000028;
}

.container {
    max-width: 1024px; 
    margin: 0 auto; 
    padding: 20px;
    
}

.navigation {
    display: flex;
    gap: 10px;
    justify-content: center;
}

.navigation button {
    border: none;
    background-color: transparent;
    padding: 0 13px;
    font-size: 18px;
    color: #FF0070;
    font-family: 'IBM Plex Mono';
    font-weight: 400;
}

.navigation button:hover {
    cursor: pointer;
}

.isActiveButton {
    border: 1px solid #ff0070 !important; 
} 

.zactavka01 {
    text-shadow: 4px 4px  #ff0070;
    font-family:"IBM Plex Mono";
    font-weight: 700;
    font-size: 157px;
    line-height: 83%;
    color: #db00ff;
}

.lampa {
    font-family: "IBM Plex Mono", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 139%;
    text-align: center;
    color: #FF0070;
    margin: 0;
    position: absolute;
    top: 20px;
    left: 943px;
    display: block;
}

.header {
    height: 768px;
    background-image: url(image/cover-image-dark.png)
}